@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700;800;900&family=Poppins:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&family=Space+Mono:ital,wght@0,400;0,700;1,400&family=Work+Sans:ital,wght@0,100;0,200;0,400;0,500;1,100;1,200;1,300;1,500&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: "Inconsolata", monospace;
  font-family: "Poppins", sans-serif;
  font-family: "Space Mono", monospace;
  font-family: "Work Sans", sans-serif;
}

header {
  display: flex;
  padding: 1.8rem 0 0 4rem;
}

header h2 {
  font-family: "Inconsolata";
}

.main {
  margin-top: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pic img {
  width: 45rem;
  padding: 0;
  margin: 0;
}

.hero article h1 {
  margin-bottom: 2rem;
  margin-top: 0;
  line-height: 4.5rem;
  font-size: 3rem;
  font-family: "Space Mono";
  max-width: 30rem;
  color: #333333;
}

.hero article p {
  font-family: "Space Mono";
  max-width: 20rem;
  margin-bottom: 2.5rem;
  color: #4f4f4f;
}

button {
  padding: 1.5rem;
  background-color: #333333;
  color: white;
  border: none;
  transition: 800ms all;
  cursor: pointer;
  border-radius: 0.5rem;
}

button:hover {
  transform: scale(0.89);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

footer p {
  font-family: "Inconsolata";
}

footer span {
  text-decoration: underline;
}

@media (width <= 676px) {
  .main {
    display: flex;
    flex-direction: column;
  }

  .pic img {
    width: 20rem;
  }

  .hero {
    padding-left: 0.8rem;
  }

  .hero article h1 {
    max-width: 500px;
    font-size: 30px;
  }
}

@media (680px <= width <= 1096px) {
  .main {
    display: flex;
  }

  .pic img {
    width: 30rem;
  }
}
